@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: rgb(71,191,223);
    background: linear-gradient(180deg, rgba(71,191,223,1) 0%, rgba(74,145,255,1) 100%);
    color: #fff;
    font-family: "Overpass", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

footer {
    width: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    color: red;
    font-size: 20px;
    background-color: rgba(218, 18, 18, .3);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 468px) {
        display: none;
    }
}

.app {
    max-width: 390px;
    max-height: 800px;
    margin: 0 auto;
    border: 2px solid rgba(0,0,0, 0.6);
    padding: 25px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;

    @media screen and (max-width: 468px) {
        border: 0;
        box-shadow: none;
    }
}

.ct-location {
    display: flex;
    font-size: 24px;
    align-items: center;
    gap: 19px;
    position: relative;
}

.ct-icon{
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ct-display{
    border: 2px solid rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .temp-display{
        font-size: 3rem;
    }

    .description {
        font-size: 1.3rem;
    }

    table {
        tbody {
            tr {
                td{
                    padding-right: 15px;
                    &:nth-child(4) {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

.ct-location-modal {
    position: absolute;
    bottom: -50px;

    input {
        font-size: 18px;
        width: 100%;
        max-width: 220px;
        height: 45px;
        padding: 12px;
        border-radius: 12px;
        border: 1.5px solid lightgrey;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;
      }
      
      input:hover {
        border: 2px solid lightgrey;
        box-shadow: 0px 0px 20px -17px;
      }
      
      input:active {
        transform: scale(0.95);
      }
      
      input:focus {
        border: 2px solid grey;
      }

}